
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{

  background-image:url('/imagenes/imagenDeFondo.png');
  background-size: cover; /* Para que cubra todo el área */
  background-position: center; /* Centrar la imagen */
  height: 100vh; /* Altura completa de la pantalla */
  width: 100%;

}




















